
    <nav class="navbar navbar-expand" >
        <div>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a routerLink="importData"class="nav-link"><button class="btn btn-outline-primary"> Import Data</button></a>
                </li>
                <li class="nav-item">
                    <a routerLink="companydetails" src=""class="nav-link" ><button class="btn btn-outline-primary"> Company Details</button></a>
                </li>
                <li class="nav-item">
                    <a routerLink="stockExchange" class="nav-link"><button class="btn btn-outline-primary">Stock Exchange Details</button></a>
                </li>
                <li class="nav-item">
                    <a routerLink="UpdateIpo" class="nav-link"><button class="btn btn-outline-primary">Update IPO</button></a>
                </li>
            </ul>
        </div>
    </nav>

   

    <div id="body" class="container mt-5 w-50 card card-shadow shadow  bg-info rounded">
        
              <form [formGroup]='importdata' class="form-group border p-5 border-curved mt-5 bg-light">
                <p class="h1 text-muted text-uppercase text-center mb-3">Import</p>
             
                
                <button class="btn btn-outline-primary text-dark text-center form-control" (click)="importData()" [disabled]="!importdata.valid">Import</button>
              </form>
            
    </div>

   




