<html>
    <head>
        <!-- <link href="../../assets/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css"> -->
    </head>
<body>
  <header style="color: green;" class="masthead text-center text-white">
    <h1 class="site-heading text-center text-info d-none d-lg-block">
        <span class="site-heading-lower">Stock Market Charting</span>
    </h1>
    </header>

    <section>
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6 order-lg-2">
            <div class="p-5">
              <img class="img-fluid rounded-circle" src="../../assets/logo.png" alt="">
            </div>
          </div>
          <div class="col-lg-6 order-lg-1">
            <div class="p-5">
              <h2 class="display-4">What is Stock Marketing</h2>
              <p>A stock market, equity market or share market is the aggregation of buyers and sellers of stocks, which represent ownership claims on businesses</p>
            </div>
          </div>
        </div>
      </div>
    </section>
  
    <section>
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6 order-lg-2">
            <div class="p-5">
              <img class="img-fluid rounded-circle" src="../../assets/ipo.jpg" alt="">
            </div>
          </div>
          <div class="col-lg-6 order-lg-1">
            <div class="p-5">
              <h2 class="display-4">What is an Ipo</h2>
              <p>nitial public offering or stock market launch is a type of public offering in which shares of a company are sold to institutional investors and usually also retail investors.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6 order-lg-2">
            <div class="p-5">
              <img class="img-fluid rounded-circle" src="../../assets/stockprice.jpg" alt="">
            </div>
          </div>
          <div class="col-lg-6 order-lg-1">
            <div class="p-5">
              <h1 class="display-4">What is Stock Price</h1>
              <p>A share price is the price of a single share of a number of saleable stocks of a company, derivative or other financial asset. In layman's terms, the stock price is the highest amount someone is willing to pay for the stock, or the lowest amount that it can be bought for.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

</body>
</html>