  
   
    <div id="body" class="container mt-5">
        <div class="row mb-5">
            <div class="col-6 my-3">
                
                <div class="card my-card border border-curved text-center" (click)="importData()">
                    
                    <div class="card-body">
                        <h4 class="card-title display-4">Import Data</h4>
                    </div>
                </div>
                
            </div>
            
            <div class="col-6 my-3">
                
                <div class="card my-card border border-curved text-center" (click)="companyDetails()">
                    <div class="card-body">
                        <h4 class="card-title display-4">Company Details</h4>
                    </div>
                </div>
                
            </div>

            <div class="col-6 my-3">
                
                <div class="card my-card border border-curved text-center" (click)="stockExchanges()">
                    <div class="card-body">
                        <h4 class="card-title display-4">Stock Exchanges</h4>
                    </div>
                </div>
                
            </div>

            <div class="col-6 my-3">
                
                <div class=" border border-curved text-center" (click)="iPO()">
                    <div class="card-body">
                        <h4 class="card-title display-4">Update Ipo</h4>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    
    
    
