

                <nav class="navbar navbar-expand" >
                    <div>
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a routerLink="userIPO"class="nav-link"><button class="btn btn-outline-primary"> IPO</button></a>
                            </li>
                            <li class="nav-item">
                                <a routerLink="comparecompany" class="nav-link" ><button class="btn btn-outline-primary"> Compare Company</button></a>
                            </li>
                            <li class="nav-item">
                                <a routerLink="comparesector" class="nav-link"><button class="btn btn-outline-primary">Compare Sector</button></a>
                            </li>
                            
                            
                        </ul>
                    </div>
                </nav>
                <div id="body" class="container mt-5">
                <div class="row">
                    <div class="col-3"></div>
                    <div class="col-6">
                      <form [formGroup]='comparecompany' class="form-group border p-5 border-curved mt-5" >
                        <p class="h1 text-muted text-uppercase text-center mb-4">Compare Company</p>
                     
                        <label for="company"> Select Company:</label>
                        <select class="form-control " id="company" formControlName="company">
                            <option>CTS </option>
                            <option>TCS</option>
                            <option>Infosys</option>
                          </select>
                        <!-- <input type="text" class="form-control" placeholder="Name of Sector" formContrlName="sector" id="sector"> -->
                        <label for="stockExchange"> Select Stock Exchange:</label>
                        <select class="form-control " id="stockExchange" formControlName="stockExchange">
                            <option>BSE </option>
                            <option>NSE</option>
                          </select>
                        
                        <label for="companyname">Company Name:</label>
                        <input type="text" class="form-control" placeholder="Name of Company" formControlName="companyname" id="companyname">
                       
                        <label for="datefrom">From Date-Time:</label><br>
                        <input class="form-control" type="datetime-local" name="datefrom" id="datefrom" formControlName="datefrom">
                         
                        <label for="dateto">TO Date-Time:</label><br>
                        <input class="form-control" type="datetime-local" name="dateto" id="dateto" formControlName="dateto">
<!-- 
                        <p> <span class="glyphicon glyphicon-plus-sign"></span></p>   -->
            
                        <button class="btn btn-success form-control" (click)="compareTheCompany()" [disabled]="!comparecompany.valid">Generate</button>
                      </form>
                    </div>
                </div>
                </div>