<div id="body" class="container mt-5">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
          <form [formGroup]="addipo" class="form-group border p-5 border-curved mt-5">
            <p class="h1 text-muted text-uppercase text-center mb-4">IPO</p>
         
            <label for="companyname">Company Name:</label>
            <input type="text" class="form-control" placeholder="Enter Company" formControlName="companyname">
            <label for="stockexchange">Stock Exchange:</label>
            <input type="text" class="form-control" placeholder="Enter Company" formControlName="stockexchange">
            <label for="ppshare">Price per Share:</label>
              <input type="number" class="form-control" placeholder="Price in Rupees" formControlName="ppshare">
            <label for="shares">No. of Shares:</label>
            <input type="number" class="form-control" placeholder="Total Number of Shares" formControlName="shares">
            <label for="datetime">Open Date-Time:</label><br>
            <input class="form-control" type="datetime-local" name="datetime" id="datetime" formControlName="datetime">
            <label for="remarks">Remarks:</label>
            <textarea class="form-control mb-4" name="remarks" id="remarks" cols="30" rows="3" placeholder="Remarks about this IPO"
            formContolName="remarks"></textarea>
            <button class="btn btn-primary text-dark text-center form-control" (click)="addIPO()" [disabled]="addipo.valid">Add IPO</button>
          </form>
        </div>
    </div>
</div>
