<section>
    <div class="container" style="background-color: whitesmoke;" >
      <div class="row align-items-center">
        <div class="col-lg-6 order-lg-2">
          <div class="p-5">
            <h5 class=" text-center text-bold text-uppercase">About our website</h5>
            <p> Website stories are not just for tech start-ups. Every business, no matter how big or small, needs to tell a story.We research and analyse various sectors within the stock markets e.g. IT, Pharma, FMCG etc</p>
          </div>          
        </div>
        <div class="col-lg-6 order-lg-1">
          <div class="p-5">
            <img class="img-fluid rounded-circle" src="../../assets/aboutUs.jpg" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>

