<div id="body" class="container mt-5">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
          <form [formGroup]='addStockForm' class="form-group border p-5 border-curved mt-5">
            <p class="h1 text-muted text-uppercase text-center mb-4">Stock Exchange</p>
         
            <label for="id">Stock id:</label>
            <input type="number" class="form-control" placeholder="Name of Sector" formControlName="id" id="id">
       
            <label for="exchangeName">Stock Exchange Name:</label>
            <input type="text" class="form-control" placeholder="Name of Stock Exchange" formControlName="exchangeName" id="exchangeName">

            <label for="contractAddress">Stock Exchange address:</label>
            <input type="text" class="form-control" placeholder="Name of Stock Exchange" formControlName="contractAddress" id="contractAddress">

            <label for="brief">Brief:</label>
            <input type="text" class="form-control" placeholder="Name of Stock Exchange" formControlName="brief" id="brief">

            <label for="remarks">Remarks:</label>
            <textarea type="text" class="form-control mb-4" placeholder="Remarks" rows="3" formControlName="remarks" id="remarks"></textarea>

            <button class="btn btn-outline-success text-dark text-center form-control" (click)="addTheStock()" [disabled]="!addStockForm.valid">Add Stock Exchange</button>
          </form>
        </div>
    </div>
</div>

