<div id="body" class="container mt-5">
            
    <h1 class="text-center text-uppercase">Stock Exchanges</h1>

    <div class="col-9 mx-auto">
        <table class="table my-4">
                <tr>
                    <th>Id</th>
                    <th>Stock Exchange</th>
                    <th>Contract Address</th>
                    <th>Brief</th>
                    <th>Remarks</th>
                    <th>Actions</th>
                </tr>
<!--             
                 <tr>
                    <td>1</td>
                    <td>BSE</td>
                    <td>jjjjj</td>
                    <td>yyyyyy</td>
                    <td>Good</td>
                    <td>--</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>NSE</td>
                    <td>kkkkk</td>
                    <td>eeeeee</td>
                    <td>Good</td>
                    <td>--</td>
                </tr>  -->
                <tr *ngFor="let stk of stock">
                    <td>{{stk.id}}</td>
                    <td>{{stk.exchangeName}}</td>
                    <td>{{stk.contractAddress}}</td>
                    <td>{{stk.brief}}</td>
                    <td>{{stk.remarks}}</td>
                    <td><button class="btn btn-danger" (click)="deleteStock(stk)">Delete</button>
                        <button class="btn btn-info" (click)="updateStock(stk)">update</button>
                    </td>
                </tr>
            
        </table>

        <button class="btn btn-block btn-outline-secondary" (click)="addStock()">Add Stock Exchange</button>
    </div>
    

    

    
</div>
