<header style="color: green;" class="text-center font-weight-bold"><h1>Stock Market Charting</h1></header>
<nav class="navbar navbar-expand navbar-light bg-light fixed-header">
  <a class="navbar-brand" href="">
          </a>
 
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon">
    </span>
    </button>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a routerLink = "">Home</a>&nbsp; &nbsp; &nbsp;
            </li>
            <li class="nav-item">
               <a routerLink = "login">Login</a>&nbsp; &nbsp; &nbsp;
               <a routerLink = "users"> Users List</a>&nbsp;&nbsp;&nbsp;
            </li>
            <li class="nav-item">
                <a routerLink = "register" >Register</a>&nbsp; &nbsp; &nbsp;
            </li>
            <li class="nav-item">
                <a routerLink = "login" >Logout</a>
            </li>
        </ul>
    </div>
    <hr>
</nav>

<div>
<router-outlet></router-outlet>
</div>


<div class="footer bg bg-primary">
    <p class="float-right"><a href="#">Back to top</a></p>
    <p class="float-center">2020@Copyright</p>
  </div>