.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:blue;
    color: white;
    text-align: center; 
    /* padding-top: 2rem;
    padding-bottom: 2rem; */
 }

 