<table class="table">
    <tr>
        <th>ID</th>
        <th>SECTOR</th>
        <th>COMPANY NAME</th>
        <th>CEO</th>
        <th>BOARD OF DIRECTORS</th>
        <th>STOCKMARKET</th>
        <th>TURNOVER</th>
        <th>ACTIONS</th>
    </tr>
    <tr *ngFor="let com of company">
        <td>{{com.id}}</td>
        <td>{{com.sector}}</td>
        <td>{{com.companyname}}</td>
        <td>{{com.ceo}}</td>
        <td>{{com.bod}}</td>
        <td>{{com.stockList}}</td>
        <td>{{com.turnover}}</td>
        <td><button class="btn btn-danger" (click)="deleteCompany(com)">Delete</button>
            <button class="btn btn-info" (click)="updateCompany(com)">update</button>
        </td>
    </tr>
</table>
