<app-adminnav></app-adminnav>

<div id="body" class="container mt-5 ">
    
            
    <h1 class="text-center text-uppercase">Users</h1>

    <div class="col-9 mx-auto">

<div class="table-responsive">

<table class="table">
    <tr>
        <th>ID</th>
        <th>USERNAME</th>
        <th>EMAIL</th>
        <!-- <th>PASSWORD</th> -->
        <th>PHONE</th>
        <th>ACTIONS</th>
    </tr>
    <tr *ngFor="let user of users">
    
        <td>{{user.id}}</td>
        <td>{{user.username}}</td>
        <td>{{user.email}}</td>
        <!-- <td>{{user.password}}</td> -->
        <td>{{user.phone}}</td>
        <td><button class="btn btn-danger" (click)="deleteUser(user)">Delete</button>
            <button class="btn btn-info" (click)="updateUser(user)">update</button>
        </td>
    </tr>
</table>
</div>
