<nav class="navbar navbar-expand" >
    <div>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a routerLink="importdata" class="nav-link"><button class="btn btn-outline-primary"> Import Data</button></a>
            </li>
            <li class="nav-item">
                <a href="companydetails" src=""class="nav-link" ><button class="btn btn-outline-primary"> Company Details</button></a>
            </li>
            <li class="nav-item">
                <a href="stockExchange" class="nav-link"><button class="btn btn-outline-primary">Stock Exchange Details</button></a>
            </li>
            <li class="nav-item">
                <a href="UpdateIpo" class="nav-link"><button class="btn btn-outline-primary">Update IPO</button></a>
            </li>
        </ul>
    </div>
</nav>

<!-- <div id="body" class="container mt-5">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
          <form [formGroup]='importdata' class="form-group border p-5 border-curved mt-5">
            <p class="h1 text-muted text-uppercase text-center mb-3">Import</p> -->
     <div class="jumbotron jumbotron-fluid  bg-dark"> -->
    <div class="card shadow text-dark bg-light mb-3">
      <p class="h4 card-header">Import Excel File</p>
      <div class="card-body bg-light">
    
          <p class="card-text shadow">Select File to be uploaded:&nbsp;</p>
          <div class="input-group mb-3">
              <div class="custom-file">
                  <input type="file" class="custom-file-input" id="inputGroupFile">
                  <label class="custom-file-label" for="inputGroupFile">Choose file</label>
              </div>
              <div class="input-group-append">
                  <span class="input-group-text btn-success" id="inputGroupFileAddon" type="button">Upload
                  </span>
              </div>
          </div>
         
            
            <!-- <button class="btn btn-outline-primary text-dark text-center form-control" (click)="importdata()" [disabled]="!importdata.valid">Import</button>
          </form>
        </div>
    </div>
</div> -->
