<div id="body" class="container mt-5">
            
    <h1 class="text-center text-uppercase">Stock Exchanges</h1>

    <div class="col-9 mx-auto">
        <table class="table my-4">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Stock Exchange</th>
                    <th>Remarks</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>BSE</td>
                    <td>Good</td>
                    <td>--</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>NSE</td>
                    <td>Good</td>
                    <td>--</td>
                </tr>
                <tr *ngFor="let stocks of stock">
                    <td>{{stocks.id}}</td>
                    <td>{{stocks.stockexchange}}</td>
                    <td>{{stocks.remarks}}</td>
                    <td><button class="btn btn-danger" (click)="deleteStock(stocks)">Delete</button>
                        <button class="btn btn-info" (click)="updateStock(stocks)">update</button>
                    </td>
                </tr>
            </tbody>
        </table>

        <button class="btn btn-block btn-outline-secondary" (click)="addStock()">Add Stock Exchange</button>
    </div>
    

    

    
</div>
