
    <header style="color: green;" class="text-center font-weight-bold"><h1>Stock Market Charting</h1></header>
    <div id="body" class="container mt-5">
        <div class="row mb-5">
            <div class="col-6 my-3">
                
                <div class="card my-card border border-curved text-center" onclick="location.href='importData.html'">
                    
                    <div class="card-body">
                        <h4 class="card-title display-4">Import Data</h4>
                    </div>
                </div>
                
            </div>
            
            <div class="col-6 my-3">
                
                <div class="card my-card border border-curved text-center" onclick="location.href='Company.html'">
                    <div class="card-body">
                        <h4 class="card-title display-4">Company Details</h4>
                    </div>
                </div>
                
            </div>

            <div class="col-6 my-3">
                
                <div class="card my-card border border-curved text-center" onclick="location.href='stockExchange.html'">
                    <div class="card-body">
                        <h4 class="card-title display-4">Stock Exchanges</h4>
                    </div>
                </div>
                
            </div>

            <div class="col-6 my-3">
                
                <div class=" border border-curved text-center" onclick="location.href='login.html'">
                    <div class="card-body">
                        <h4 class="card-title display-4">LogOut</h4>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
