<!-- <header style="color: green;" class="text-center font-weight-bold"><h1>Stock Market Charting</h1></header> -->
    <div id="body" class="container mt-5">
        <div class="row mb-5">
            <div class="col-6 my-3">
                
                <div class="card my-card border border-curved text-center" (click)="compareCompanyPage()">
                    
                    <div class="card-body">
                        <h4 class="card-title display-5">Compare Company</h4>
                    </div>
                </div>
                
            </div>
            
            <div class="col-6 my-3">
                
                <div class="card my-card border border-curved text-center" (click)="compareSectorPage()">
                    <div class="card-body">
                        <h4 class="card-title display-5">Compare Sector</h4>
                    </div>
                </div>
                
            </div>

        </div>
    </div>


