<app-adminnav></app-adminnav>
   
<div id="body" class="container mt-5">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
          <form [formGroup]="updateipoForm" class="form-group border p-5 border-curved bg-light mt-5">
            <p class="h1 text-muted text-uppercase text-center mb-4">IPO</p>
         
            <label for="id">Ipo id:</label>
            <input type="number" class="form-control" placeholder="Id of Company" formControlName="id" id="id" disabled/>

            <label for="companyName">Company Name:</label>
            <input type="text" class="form-control" placeholder="Enter Company" formControlName="companyName" id="companyName" name="companyName">

            <label for="stockExchange">Stock Exchange:</label>
            <input type="text" class="form-control" placeholder="Enter Company" formControlName="stockExchange" id="stockExchange" name="stockExchange">


            <label for="pricePerShare">Price per Share:</label>
              <input type="number" class="form-control" placeholder="Price in Rupees" formControlName="pricePerShare" id="pricePerShare" name="pricePerShare">


            <label for="totalStocks">No. of Shares:</label>
            <input type="number" class="form-control" placeholder="Total Number of Shares" formControlName="totalStocks" id="totalStocks" name="totalStocks">

            <label for="openDateTime">Open Date-Time:</label><br>
            <input class="form-control" type="datetime-local"  formControlName="openDateTime" id="openDateTime" name="openDateTime">
<!-- 
            <label for="remarks">Remarks:</label>
            <textarea class="form-control mb-4" name="remarks" id="remarks" cols="30" rows="3" placeholder="Remarks about this IPO"
            formContolName="remarks"></textarea> -->

            <button class="btn btn-primary text-dark text-center form-control" (click)="updateIPO()" >Add IPO</button>
          </form>
        </div>
    </div>
</div>