<app-adminnav></app-adminnav>  
   
    <div id="body" class="container mt-5">
        <div class="row mb-3">
            <div class="col-lg-4 col-md-5 col-sm-6 col-xs-12">
                <div class=" border border-curved text-center bg-transparent " (click)="importData()">
                    <img src="../../assets/importData.jpg" width="250px" height="250px">
                    <div class="card-body">
                         <!-- <h4 class="card-title display-4">Import Data</h4> -->
                    </div>
                </div>
                
            </div>
            
            <div class="col-lg-4 col-md-5 col-sm-6 col-xs-12">
                
                <div class=" border border-curved text-center bg-transparent " (click)="companyDetails()">
                    <img src="../../assets/company.jpg" width="250px"  height="250px">
                    <div class="card-body">
                        
                    </div>
                </div>
                
            </div>

            <div class="col-lg-4 col-md-5 col-sm-6 col-xs-12">
                
                <div class=" border border-curved text-center bg-transparent" (click)="stockExchanges()">
                    <img class="img-responsive" src="../../assets/stock-exchange.jpg" width="250px"  height="250px">
                    <div class="card-body">
                        <!-- <h4 class="card-title display-4">Stock Exchanges</h4> -->
                    </div>
                </div>
                
            </div>

            <div class="col-lg-6 col-md-5 col-sm-6 col-xs-12">
                
                <div class=" border border-curved text-center bg-transparent" (click)="iPO()">
                    <img src="../../assets/adminIpo.jpg" width="250px"  height="250px">
                    <div class="card-body">
                        <!-- <h4 class="card-title display-4">Update Ipo</h4> -->
                    </div>
                </div>
                
            </div>
<!-- 
            <div class="col-4">
                
                <div class=" border border-curved text-center bg-transparent" (click)="sector()">
                    <img src="../../assets/importData.jpg" width="250px"  height="250px">
                    <div class="card-body">
                        <h4 class="card-title display-4">Sector</h4> 
                    </div>
                </div>
                
            </div> -->

            <div class="col-lg-6 col-md-5 col-sm-6 col-xs-12">
                
                <div class=" border border-curved text-center bg-transparent" (click)="users()">
                    <img src="../../assets/users.jpg" width="250px"  height="250px">
                    <div class="card-body">
                        <!-- <h4 class="card-title display-4">User</h4> -->
                    </div>
                </div>
                
            </div>

        </div>
    </div>
    
    
    
