
<div class="row">
 <div class="col-6 my-3">
                
    <div class="card my-card border border-curved text-center" (click)="admin()">
        <div class="card-body">
            <h4 class="card-title display-4">Admin</h4>
        </div>
    </div>
    
 </div>

 <div class="col-6 my-3">
                
    <div class="card my-card border border-curved text-center" (click)="user()">
        <div class="card-body">
            <h4 class="card-title display-4">User</h4>
        </div>
    </div>
    
  </div>
</div>

<a><img src="../../assets/home.jpg" alt="logo"></a>