<!-- <header style="color: green;" class="text-center font-weight-bold"><h1>Stock Market Charting</h1></header> -->
<app-usernav></app-usernav>

<div id="body" class="container mt-5">
    <div class="row mb-3">
        <div class="col-lg-6 col-md-5 col-sm-6 col-xs-12">
            <div class=" border border-curved text-center bg-transparent " (click)="compareCompanyPage()">
                <img src="../../assets/compareCompany.jpg" width="250px" height="250px">
                <div class="card-body">
                     <!-- <h4 class="card-title display-4">Import Data</h4> -->
                </div>
            </div>
            
        </div>
        
        <div class="col-lg-6 col-md-5 col-sm-6 col-xs-12">
            
            <div class=" border border-curved text-center bg-transparent" (click)="userIpo()">
                <img class="img-responsive" src="../../assets/userIpo.jpg" width="250px"  height="250px">
                <div class="card-body">
                    <!-- <h4 class="card-title display-4">Stock Exchanges</h4> -->
                </div>
            </div>
            
        </div>

        <div class="col-lg-6 col-md-5 col-sm-6 col-xs-12">
            
            <div class=" border border-curved text-center bg-transparent" (click)="userCompany()">
                <img src="../../assets/userCompany.jpg" width="250px"  height="250px">
                <div class="card-body">
                    <!-- <h4 class="card-title display-4">Update Ipo</h4> -->
                </div>
            </div>
            
        </div> 

        <div class="col-lg-6 col-md-5 col-sm-6 col-xs-12">
            <div class=" border border-curved text-center bg-transparent " (click)="updateProfile()">
                <img src="../../assets/user-profile.jpg" width="250px" height="250px">
                <div class="card-body">
                     <!-- <h4 class="card-title display-4">Import Data</h4> -->
                </div>
            </div>
            
        </div>
        
         </div>
    </div>


